<div class="sign-in-container">

<% if @admin.errors.any? %>
  <ol>
    <% @admin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @admin do |f| %>
  <div class="sign-in-fields">
    <%= f.label :username %>
    <%= f.text_field :username, :required => true, :class => 'form-control' %>
  </div>

    <div class="sign-in-fields">
    <%= f.label :email %>
    <%= f.email_field :email, :required => true, :class => 'form-control' %>
  </div>

  <div class="sign-in-fields">
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>

  <div class="sign-in-fields">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div>

  <%= f.submit "Submit!", :class => 'btn btn-success btn-lg sign-in-button'  %>
<% end %>
</div>