<h1><%= @resource.title %></h1>
<ul>
    <li><%= @resource.resource_type %></li>
    <li><%= @resource.description %></li>
    <li><%= image_tag @resource.image %></li>
    <li><%= <%= link_to "Buy Here", "https://www.versobooks.com/books/3156-fully-automated-luxury-communism", :target => "_blank" href="https://www.versobooks.com/books/3156-fully-automated-luxury-communism">Fully Automated Luxury Communism</a>  %></li>
</ul>