<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Newsjams</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="admin-nav">
    <%= link_to "All |", resources_path %>
    <%= link_to "Register", resources_path %>
    <% if @current_admin.present? %>
      <%= link_to "Home", admins_path %>
      <%= link_to "Log Out", login_path, :method => 'delete' %>
      <% end %>
  </nav>

      <span id="trigger">
    hover here
    <img src="https://cms.qz.com/wp-content/uploads/2013/09/candy-crush.jpg?quality=80&strip=all&w=1800">
    </span>


    <%= yield %>
  </body>
</html>
